#wrapper {
    width: 800px;
    outline: 1px solid #cccccc;
    padding: 10px;
    margin: 0 auto;
}

#header {
    height: 77px;
    background-color: #F8AC18;
    margin-bottom: 12px;
}

#sidebarL {
    background-color: #EBEBEB;
    margin-bottom: 12px;
    width: 150px;
    float: left;
}

#sidebarR {
    background-color: #EBEBEB;
    margin-bottom: 12px;
    width: 150px;
    float: right;
}

#content {
    background-color: #C5161D;
    margin: 0 auto 12px auto;
    width: 480px;
}

#footer {
    height: 77px;
    background-color: #111111;
    margin-bottom: 12px;
}

.clear {
    clear: both;
}
